@import "globals/variables";
@import "globals/fonts";


@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "./node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
}
.container{
	overflow: hidden;
}
a{
	&:active{
		text-decoration: none;
	}
	&:hover{
		text-decoration: none;
	}
}

@import "./sections/header";
@import "./sections/banner";
@import "./sections/participate";
@import "./sections/news";
@import "./sections/sponsors";
@import "./sections/footer";

@import "globals/mediaqueries";