.section#footer
    .container
        .row.pt-5.pb-3
            .col
                img(src='img/logo_inka_reebok.png' alt='logo inka reebok')
            .col
                .tag CARRERA
                ul
                    li
                        a(href='') Información
                    li
                        a(href='') Obstáculos
                    li
                        a(href='') Reglamento
                    li
                        a(href='') Resultados
                    li
                        a(href='') Voluntarios
            .col-2
                .tag TIENDA
                ul
                    li
                        a(href='') Polos Algodón
                    li
                        a(href='') Polos Entrenamiento
                    li
                        a(href='') Toallas
                    li
                        a(href='') Tomatodo
                    li
                        a(href='') Mochilas y Maletines
            .col
                .tag ESTILO DE VIDA
                ul
                    li
                        a(href='') Nutrición
                    li
                        a(href='') Entrenamiento
                    li
                        a(href='') Testimonios
            .col
                .tag OCR
                ul
                    li
                        a(href='') Reglamento
                    li
                        a(href='') ¿Cómo clasificar?
                    li
                        a(href='') Inka Challenge en OCR
                    li
                        a(href='') Noticias de OCR
            .col-3
                .subscribe
                    a.mb-3.py-2.w-100.d-inline-block.rounded.text-center(href='') Suscríbete a nuestro Boletín
                    p.m-0 ¿No ves tu evento? #[a(href='') Suscríbete] a nuestra alerta de lanzamiento.
                    .follow.d-flex.align-items-end.justify-content-between.mt-3
                        p.m-0 FOLLOW US ON
                        //- .icons
                        a(href='')
                            i.fab.fa-facebook-f
                        a(href='')
                            i.fab.fa-instagram
                        a(href='')
                            i.fab.fa-youtube
                        a(href='')
                            i.fas.fa-envelope
.bar-footer.py-2
    .container
        .row.d-flex.justify-content-between
            .cr Copyright © 2019 InkaChallenge
            .by By: Eke