.section#footer
    .container
        .row.pt-5.pb-0.pb-md-3.px-4.px-md-0
            .col-12.col-md-3.col-lg.text-center.mb-4.mb-md-0
                img(src='img/logo_inka_reebok.png' alt='logo inka reebok')
            .col-6.col-md
                .tag CARRERA
                ul
                    li
                        a(href='') Información
                    li
                        a(href='') Obstáculos
                    li
                        a(href='') Reglamento
                    li
                        a(href='') Resultados
                    li
                        a(href='') Voluntarios
            .col-6.col-md.col-lg
                .tag TIENDA
                ul
                    li
                        a(href='') Polos Algodón
                    li
                        a(href='') Polos Entrenamiento
                    li
                        a(href='') Toallas
                    li
                        a(href='') Tomatodo
                    li
                        a(href='') Mochilas y Maletines
            .col-6.col-md
                .tag ESTILO DE VIDA
                ul
                    li
                        a(href='') Nutrición
                    li
                        a(href='') Entrenamiento
                    li
                        a(href='') Testimonios
            .col-6.col-md
                .tag OCR
                ul
                    li
                        a(href='') Reglamento
                    li
                        a(href='') ¿Cómo clasificar?
                    li
                        a(href='') Inka Challenge en OCR
                    li
                        a(href='') Noticias de OCR
            .col-12.col-md.col-lg-3
                .subscribe.mx-4.mx-md-0
                    a.mb-3.py-2.w-100.d-inline-block.rounded.text-center(href='') Suscríbete a nuestro Boletín
                    p.m-0.text-center.text-md-left ¿No ves tu evento? #[a(href='') Suscríbete] a nuestra alerta de lanzamiento.
                .row.follow.mt-3.mx-n5.mx-md-0
                    .col-md-4.col-lg-6.d-none.d-md-block.pt-1.pr-0
                        p.m-0 FOLLOW US ON
                    .col.col.col-md-2.col-lg-1.text-center.text-md-right.py-1.py-sm-0
                        a(href='')
                            i.fab.fa-facebook-f
                    .col.col.col-md-2.col-lg-1.text-center.text-md-right.py-1.py-sm-0
                        a(href='')
                            i.fab.fa-instagram
                    .col.col.col-md-2.col-lg-1.text-center.text-md-right.py-1.py-sm-0
                        a(href='')
                            i.fab.fa-youtube
                    .col.col.col-md-2.col-lg-1.text-center.text-md-right.py-1.py-sm-0
                        a(href='')
                            i.fas.fa-envelope
.bar-footer.py-2.px-4.px-md-0
    .container
        .row
            .col.d-flex.justify-content-between
                .cr Copyright © 2019 InkaChallenge
                .by By: Eke