header.sticky-top
	#header
		.container
			nav.navbar.navbar-expand-md.align-items-end.px-md-0#navbar
				.logo
					img(src="img/logo_inka_reebok_B.png", alt="logo")#logoImg
				.collapse.navbar-collapse.justify-content-end.options#navbarNav
					ul.navbar-nav.justify-content-between
						li.nav-item
							a(href='') HOME
						li.nav-item
							a(href='') CARRERAS
						li.nav-item
							a(href='') TIENDA
						li.nav-item
							a(href='') ESTILO DE VIDA
						li.nav-item
							a(href='') OCR
			.mb-info.d-flex.mx-n3.mx-sm-0#mb-info
				.d-none.d-block.d-md-none.text-center
					div INFORMACION			
				.sesion.d-flex.justify-content-around
					button.navbar-toggler.d-none.d-block.d-md-none(type="button" data-toggle="collapse" data-target="#navbarNav")
						i.fas.fa-bars
					.user.d-flex.align-items-center.justify-content-end.pl-sm-0.pl-md-5
						.fa.far.fa-user.fx-3
						span.pl-2.d-none.d-md-block Iniciar Sesión
					.carrito.d-flex.align-items-center.justify-content-end.pl-sm-0.pl-md-4 
						.fa.far.fa-shopping-cart.fx-3
						span.ml-2.text-center.rounded-circle.total 0
	#bar.text-center.d-flex.justify-content-center.align-items-center #[i.fa.fas.fa-bullhorn] Sé un conquistador de nuestra próxima carrera #[a.d-none.d-md-block(href='') ¡Inscríbete!]