header
	#header
		.container
			nav.navbar.navbar-expand-lg.align-items-end
				.logo
					img(src="img/logo_inka_reebok.png", alt="logo")
				.collapse.navbar-collapse.justify-content-end.options#navbarNav
					//- .menu
						//- .sesion
						//- 	.user
						//- 		.fa.far.fa-user
						//- 		span Iniciar Sesión
						//- 	.carrito
						//- 		.fa.far.fa-shopping-cart
						//- 		span.total 0
					ul.navbar-nav.justify-content-between
						li.nav-item
							a(href='') HOME
						li.nav-item
							a(href='') CARRERAS
						li.nav-item
							a(href='') TIENDA
						li.nav-item
							a(href='') ESTILO DE VIDA
						li.nav-item
							a(href='') OCR
			.sesion
				.d-flex.justify-content-between.align-items-center
					.user.d-flex.align-items-center.justify-content-end
						.fa.far.fa-user.fx-3
						span Iniciar Sesión
					.carrito.d-flex.align-items-center.justify-content-end
						.fa.far.fa-shopping-cart.fx-3
						span.text-center.total 0
	#bar.text-center.d-flex.justify-content-center.align-items-center #[i.fa.fas.fa-bullhorn] Sé un conquistador de nuestra próxima carrera #[a(href='') ¡Inscríbete!]