.section#participate
    .container
        h3.ocr.mt-5.text-center.text-sm-left OCR I WORLD CHAMPIONSHIPS
        .title.text-center.border-left-0.border-right-0.my-4.my-sm-5.mx-n3.mx-sm-0 ¿CÓMO CLASIFICAR?
        p.mb-5.px-3.px-sm-0.text-justify La clasificación al Mundial de Carreras de Obstáculos será por categorías: Categoría Profesional/Elite (Hombre / Mujer) y Categoría General (Open Race) dividido por categorías de edad.
        .regulation.text-center.text-sm-left
            a.mb-5.rounded-lg(href='') Descargar reglamento
        .row.mx-n3.mx-sm-0.mt-5.mb-3.px-3.bg-light.py-4.category
            .col-sm-3.d-flex.justify-content-center.align-items-center
                h3.m-0 CATEGORÍA PROFESIONAL
            .col-sm-9
                p.m-0.text-justify Se clasificarán a la Categoría Profesional los primeros 5 hombres y primeras 5 mujeres que lleguen en la Horda Elite del Inka Challenge X.
        .row.mx-n3.mx-sm-0.mt-2.mb-5.px-3.bg-light.py-4.category
            .col-sm-3.d-flex.justify-content-center.align-items-center
                h3.m-0.text-center CATEGORÍA GENERAL#[br](OPEN RACE) 
            .col-sm-9
                p.m-0.text-justify La Categoría General se dividirá por edades y género. Se clasificarán a la Categoría General los 10 hombres y 10 mujeres con los mejores tiempos según los siguientes rangos de edad: #[span.font-italic 13-17, 18-24, 25-29, 30-34, 35-39, 40-44, 45-49 y 50+ años]. #[br]Se hará un conteo con filtros de edad y género para obtener a los clasificados para la Categoría General (Open Race) 
        .row.px-3.px-sm-0
            .col-12
                p.m-0 *Inka Challenge, en alianza con la OCR World Championship, brindará únicamente la clasificación al Mundial de Carreras de Obstáculos.
                p.m-0 *El Conquistador clasificará únicamente a la Categoría en la cual participó.