.section#sponsors
   .container
        .row
            .brands.col-md-8.offset-md-2.d-flex.flex-column.justify-content-around.py-4.px-4.px-sm-0
                h4.m-0.text-center AUSPICIADORES
                .principal.text-center.pb-3
                    img(src='img/logo_reebokB.png' alt='logo reebok')
                .secundary.d-flex.flex-wrap.justify-content-around
                    img(src='img/gatorade.png' alt='logo reebok')
                    img(src='img/circle-inkachallenge-3.png' alt='logo reebok')
                    img(src='img/logo-nutripoint-small.png' alt='logo reebok')
                    img(src='img/logo-on-small.png' alt='logo reebok')
            